body {
	height: auto;
	width: auto;
}
h, p, ul li {
	color: black;
	font-size: .8em;
	font-family: 'Blackoak Std', sans-serif;
}
.Header {
	font-size: 1.2em;
	height: 100px;
	width: 500px;
	position:relative;
	text-align:right;
	border-radius: 15px 30px 30px 5px;
}
.llamabox{
	height: 15em;
	width: 15em;
    position:absolute;
    display: inline-block;
}
img.llamabox{
    width:inherit;
    height:inherit;
}
#l1 {
    background-size: cover;
	background-repeat:no-repeat;
}
#l2 {
    background-size: cover;
	background-repeat: no-repeat;
}
#l3 {
    background-size: cover;
	background-repeat: no-repeat;
}
.empty {
	background-color: #fff;
	height: 6em;
	width: 5em;
	float:left;
	position:relative;
	display:inline;
    margin-left:-50px;
}
.prof {
	background-color:black;
	height: 150px;
	width: 300px;
    border-radius:100% 0;
	margin-left:-50px;
	float:right;
	text-align:center;
	position:relative;
	display:inline;
}
.pers {
	background-color: #99F;
	float: left;
	height: 100px;	
	width: 300px;
    border-radius:100% 0;
	text-align:right;
	position:relative;
	display:inline;
    margin-left:-50px;
}
.etc {
	background-color: black;
	height: 50px;	
	width: 300px;
    border-radius:100% 0;
	float:left;
	text-align:center;
	position:relative;
	display:inline;
    margin-left:-50px;
}
#nav {
	text-decoration: none;
	background-color:black;
	font-size:.8em;
	line-height:1.3em;
}
.bar1 {
    background-color:azure;
    height:150px;
}
a:link {
	text-decoration: none;
}
a:hover {
	color:black;
	opacity:.5;
    background-color:currentColor;
    outline: 2px dotted black;
    position:relative;
    text-align:center;
}
a:visited{
    color:#666;
}
.perspage {
	background-image: url(../pix/personalinterests.png);
	background-size:contain;
	background-repeat:repeat-x;
	width:100%;
	height:5em;
}
h.persinformations {
	color: #000;
	font-size: 1.5em;
	text-indent:-2em;
}
p.persinformations {
	color: #666;
	font-size:1em;
	margin-left: 2.5em;
	font-family: "Comic Sans MS", cursive;
	line-height:1.3em;
}
h.resume {
    color:black !important;
}
.professional {
    width:50%;
    height:50%;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 736px) {
    .Header {
        text-align:left;
        max-width: inherit;
        background-color:aqua;
    }  
    div.llamabox{
        width:35%;
        height:35%;
    }
}
@media only screen and (max-width:1024px){
    .Header {
        text-align: center;
        max-width: inherit;
    }
    .etc {
        margin-left:8em;
    }
}
@media only screen and (min-width:1024px) {
    .Header {
        width: 100%;
    }
    .etc {
        margin-left:8em;
    }
}